@charset "utf-8";

* {
  box-sizing: border-box;
  -webkit-transition: color 0.1s ease-out, background 0.1s ease-out;
  -o-transition: color 0.1s ease-out, background 0.1s ease-out;
  transition: color 0.1s ease-out, background 0.1s ease-out;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

/* 

Spacing scale (ratio 1.5)

1      = 1rem
1.5    = 1.5rem
1.5^2  = 2.25rem
1.5^3  = 3.375rem
1.5^4  = 5.0625rem
1.5^5  = 7.59375rem
1.5^6  = 11.390625rem
1.5^7  = 17.0859375rem
1.5^8  = 25.62890625rem
1.5^9 = 38.443359375rem
1.5^10 = 57.6650390625rem
1.5^11 = 86.4975585938rem

*/

body {
  --primary-color: hsla(180, 3%, 14%, 1); /* #232525 */
  --secondary-color: hsla(180, 3%, 14%, .66); /* #636464 */
  --bg-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial,system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary-color);
  margin: 0 auto;
  max-width: 70.5rem;
  padding: 0 1.5rem 0;
  background: var(--bg-color);
}
body.dark-theme {
  --primary-color: #fff;
  --secondary-color: hsla(180, 100%, 100%, .66); /* #ABACAC */
  --bg-color: hsla(180, 3%, 14%, 1);
}
body.dark-theme a[href^=http].btn::after,
body.dark-theme p > a[href^=http]::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23ABACAC' d='M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z' /%3E%3C/svg%3E");
}

/* Typography */
h1,
h2,
h3,
p, 
blockquote,
ul {
  max-width: 72ch;
}
h1 > br {
  display: none;
}
h1, h2 {
  font-size: 2.25rem;
  line-height: 1.111111em;
  font-weight: normal;
  margin-bottom: 1.5em;
}
h2 {
  padding-top: 3.375rem;
  margin-top: 0;
}
h3, .logo {
  font-size: 1.5rem;
}
h3 {
  padding-top: 3.375rem;
  margin-top: 0;
  margin-bottom: 1.5em;
}
p {
  margin-bottom: 1.5em;
}
small {
  font-size: 0.875em;
  line-height: 1.5;
}
section ul {
  padding-left: 1.5em;
  position: relative;
}
section ul > li {
  list-style: none;
  margin-bottom: 0.75em;
}
section ul > li::before {
  content: "•";
  font-size: 1em;
  display: inline-block;
  position: absolute;
  left: 0;
  color: var(--secondary-color);
}
details {
  font-size: 0.875em;
  margin-bottom: 2.25rem;
}
summary {
  font-weight: bold;
  cursor: pointer;
}
abbr {
  text-decoration-color: var(--secondary-color);
  cursor: help;
}
.underline {
  -webkit-text-decoration: underline dotted var(--secondary-color);
          text-decoration: underline dotted var(--secondary-color);
}

blockquote {
  margin: auto;
  text-align: left;
}
blockquote > p {
  padding-left: 1rem;
  margin-left: -1rem;
}
blockquote::before,
blockquote > p:last-of-type::after {
  position: absolute;
  display: inline-block;
  opacity: 0.6;
}
blockquote::before {
  content: "«";
  margin-left: -0.75em;
}
blockquote > p:last-of-type::after {
  content: "»";
  font-style: normal;
  margin-left: 0.25em;
}
blockquote > footer {
  font-size: 0.875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.25rem;
  color: var(--secondary-color);
}
blockquote > footer > .avatar {
  background-color: var(--secondary-color);
  background-image: url('../media/plateaux-numeriques-lalouvesc-210116.jpg');
  background-repeat: no-repeat;
  background-position: 51% 26%;
  min-width: 5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

/* Links */
a, a:visited {
  -webkit-text-decoration-color: var(--secondary-color);
  text-decoration-color: var(--secondary-color);
  color: var(--primary-color);
}
a[href^=http].btn::after, 
p > a[href^=http]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23636464' d='M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
  position: relative;
  top: 0.2em;
}
main a[href^="#"] {
  -webkit-text-decoration-color: var(--secondary-color);
          text-decoration-color: var(--secondary-color);
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

/* Utilities*/
.hidden {
  display: none;
  user-select: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Buttons */
.btn {
  border: 2px solid var(--secondary-color);
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  margin: 1.5rem 0;
}
.btn:hover {
  border-color: var(--primary-color);
}

/* Figures & Images */
figure {
  font-size: 1rem;
  margin: 3.375rem 0;
}
figcaption {
  font-size: 0.875em;
  margin: 1em auto;
  max-width: 80ch;
  color: var(--secondary-color);
}
img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 0.125rem;
}


/* Header */
#header, nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.25rem 0;
  border-bottom: 2px dotted var(--secondary-color);
}
button#color-mode {
  width: 3rem;
  height: 3rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Nav */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100;
  background: #fff;
  background: var(--bg-color);
  padding: 1rem 0;
}
nav > ul {
  display: block;
  padding: 0;
  margin: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li  {
  font-size: 1rem;
  margin-right: 1.5em;
  line-height: 2;
}
nav a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 2px dotted var(--secondary-color);
  margin: 5.0625rem 0;
}

.logo {
  display: inline-block;
  font-weight: normal;
  line-height: 1.037613489em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}
.logo .symbol {
  font-size: 1.046692607em;
  position: relative;
  top: 0.45em;
  margin-left: 0.2em;
}

main > header,
section {
  padding: 3.375rem 0;
  margin-top: 0;
  border-bottom: 2px dotted var(--secondary-color);
}

main > header + hr {
  margin-bottom: 0;
}
main > section:first-of-type {
  margin-top: 0;
}

[data-icon]::before {
  content: attr(data-icon);
  margin-right: 0.5em;
}

#projet {
  padding-bottom: 5.0625rem;
}

#pilote {
  border-left: 2px dotted var(--secondary-color);
  border-right: 2px dotted var(--secondary-color);
  padding: 2.25rem 2.25rem 3.375rem;
  text-align: center;
}

#accompagnement {
  padding-bottom: 0;
}
#collectivite-referent-local {
  margin-top: 5.0625rem;
}
#collectivite,
#referent-local {
  border: 2px dotted var(--secondary-color);
  padding: 0 2.25rem 1.5rem;
}
#referent-local {
  border-top: 0;
}
#contact {
  border-left: 2px dotted var(--secondary-color);
  border-right: 2px dotted var(--secondary-color);
  padding: 5.0625rem 2.25rem;
}
#contact > * {
  text-align: center;
  display: block;
  margin: 0 auto 1.5em;
}
#contact small {  
  margin: 0;
}

#footer {
  font-size: 1rem;
  padding: 3.375rem 0 1.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
#footer > * {
  margin-bottom: 2.25rem;
}
#footer #partenaires ul,
#footer #partenaires a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}
#footer #partenaires ul {
  list-style: none;
  padding: 0;
}
#footer #partenaires li {
  margin-bottom: 1rem;
}
#footer #partenaires li:not(:last-child) {
  margin-right: 2.25rem;
}
#footer #partenaires a {
  text-decoration: none;
  font-size: .75rem;
  line-height: 1rem;
}
#footer #partenaires img {
  height: 3rem;
  width: auto;
}
#footer #partenaires #eu img {
  margin-right: 1rem; 
}
#footer #partenaires #france-relance,
#footer #partenaires #france-relance img {
  height: 3.5rem;
  width: 3.5rem;
}


/* Media queries */
@media (min-width: 48rem ) { /* > 768px */
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  #footer #partenaires ul {
    flex-direction: row;
  }
}
@media (min-width: 48rem ) { /* > 768px */
  body {
    font-size: 2.0833333333vw;
  }
  h1 {
    font-size: 4.6875vw;
  }
  h1 > br {
    display: initial;
  }
  figure {
    margin: 5.0625rem 0;
  }
  .cols-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .cols-2 > * {
    width: 50%;
  }
  .cols-2 > *:nth-child(odd) {
    padding-right: 2.25rem;
  }
  .cols-2 > *:nth-child(even) {
    padding-left: 2.25rem;
  }
  #referent-local {
    border-top: 2px dotted var(--secondary-color);
    border-left: 0;
  }
}

@media (min-width: 72rem ) { /* > 1152px */
  body {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3.375rem;
  }
  #pilote {
    padding: 3.375rem 5.0625rem 5.0625rem;
  }
}

/* Print */
@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
}
